@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.sora-font {
    font-family: "Sora", serif;
  }

.banner-border {
  border-radius: 20px;
  border: 10px solid rgb(93, 93, 161);
}

.all-product {
  background-color: tomato;
}
